# =========================
# PyCharm
# =========================
.idea/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Excel temporary files
# =========================
~$*.xlsx

# =========================
# Virtual Environment
# =========================
venv/
.env/
.conda/

# =========================
# Logs
# =========================
*.log

# =========================
# Machine Learning Models
# =========================
*.pt
*.pth
*.onnx
*.h5
*.pkl
*.joblib

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Operating System
# =========================
Thumbs.db
.DS_Store